<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="">Nombre Dron:</label>
    <input type="text" name="name"></input>
    <label for="">Propellers:</label></label>
    <input type="text" name="propellers"></input>
    <label for="">MaxSpeed:</label>
    <input type="text" name="maxSpeed"></input>
    <button type="submit">Enviar</button>
</form>